name: Build & Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    # 1. Lấy code về
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Đăng nhập vào Docker Hub (Dùng chìa khóa trong Két sắt)
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 3. Đóng gói và Đẩy lên (Build & Push)
    - name: Build and Push
      uses: docker/build-push-action@v4
      with:
        context: ./project_cupid  # Chỉ định thư mục chứa file code (quan trọng!)
        push: true
        # Đặt tên cho Image (Thay duca90746 bằng user của bạn nếu cần)
        tags: ${{ secrets.DOCKER_USERNAME }}/cupid-web:latest
